.head {
    background-color: hsl(45, 24%, 46%);
    color: #fff;
    text-align: center;
    padding: 3rem  0rem;
    width: 100vw ;  
}
.head h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 0.8;
    font-family: "Montserrat", sans-serif;
}
.head h1 span {
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 25px;
    line-height: 1;
}
.head p {
    padding-top: 30px;
}
  